*{
	margin:0;
	padding:0;
}

/*DISEÑO NAVBAR*/
.navbar-inverse{
	background-color: $pink;
	a{
		color: $white;
	}
}

.navlogo,
.navlista{
display:$display;
}

.navlogo__logo{
	width:10%;
	border-radius: 50%;
	@extend .navlogo;
	border: 2px solid $white;
	background-color: #9EA5A1;
}

.navlista a{
	text-decoration: none;
}

.navlista__lista{
	@extend .navlogo;
	margin: 20px;
}

.navlista__lista--perfil{
	background-color: $azuldark;
	border-radius: $radius;
	width: 95px;
}

/*DISEÑO HOME*/

.home{
	margin-top: -20px;
	background-color: $azuldark;
	height: 400px;
}

.parrafo{
	margin-top:-200px;

	.parrafo__til{
		color: $verde;
    }

	.parrafo__p{
		color:$white;
	}

	.parrafo__button{
		background-color: $verde;
		border-radius:$radius;
		width: 100px;
	}

	.fa-paper-plane{
		color:$white;
	}
}

#circle{
	width: 200px;
	height: 200px;
	background-color: $white;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
}

.circulo{
	margin-top: 100px;

	.circulo__cir__p{
		color: $azuldark;
		text-align: center;
		font-weight: bold;
	}
}

.iconos__i{
	width: 100%;
}

/*DISEÑO TRABAJOS*/

.job{
	background-color: $verde;
}

