*{
	margin:0;
	padding:0;
}

/*DISEÑO NAVBAR*/
.navbar-inverse{
	background-color: $pink;
	a{
		color: $white;
	}
}

.navlogo,
.navlista{
display:$display;
}

.navlogo__logo{
	width:10%;
	border-radius: 50%;
	@extend .navlogo;
	border: 2px solid $white;
	background-color: #9EA5A1;
}

.navlista__lista{
	@extend .navlogo;
	margin: 20px;
}

.navlista__lista--perfil{
	background-color: $azuldark;
	border-radius: $radius;
	width: 95px;
}

/*DISEÑO HOME*/

.home{
	margin-top: -20px;
	background-color: $azuldark;
}

#circle{
	width: 100px;
	height: 100px;
	background-color: $white;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;

p{
	color: $azuldark;
	text-align: center;
}

}
